<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment), class: "btn btn-outline-primary" %> 
<%= link_to 'Back', posts_path, class: 'btn btn-outline-primary' %>
