
<nav class="navbar navbar-light navbar-expand-lg bg-light"	id="myTab" role="tablist">
  <div class="container-fluid">
 
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      	<ul class="nav nav-tabs">
  			<li class="nav-item">
   				 <%= link_to 'Саак', root_path, class: "nav-link active"%>
  			</li>
          <li class="nav-item">
           <%= link_to 'Блог бичих', new_post_path , class: "nav-link" %>
        </li>
 			<li class="nav-item">
    			 <%= link_to 'Блогууд', posts_path, class: "nav-link"%>
  			</li>
  			<li class="nav-item">
    			 <%= link_to 'Шилдэг нийтлэлүүд', sorted_index_path, class: "nav-link" %>
  			</li>

		</ul>
      </div>
    </div>
      <% if current_user %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "nav-item nav-link active", style: "color: black" %>
      <% else %>

        <%= link_to 'Sign up', new_user_registration_path, class: "nav-item nav-link active", style: "color: black" %>

        <%= link_to 'Sign in', new_user_session_path, class: "nav-item nav-link active", style: "color: black"  %>
      
  </div>
<%end%>
</nav>


<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
